@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next,
#__next > div {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  overflow-x: auto;
  overflow-y: hidden;
}

body.light-mode {
  @apply bg-neutral-50 text-neutral-500;
  transition: background-color 0.3s ease;
}
body.light-mode .dark-bg {
  @apply bg-neutral-800 bg-opacity-30;
}
body.light-mode h1,
body.light-mode h2 {
  @apply text-neutral-700;
}

body.dark-mode {
  @apply bg-neutral-900 text-neutral-300;
}
body.dark-mode .dark-bg {
  @apply bg-neutral-200 bg-opacity-30;
}
body.dark-mode h1,
body.dark-mode h2 {
  @apply text-neutral-50;
}

.relative.mb-5 {
  @apply w-full;
}

.chip {
  @apply mb-2 cursor-pointer rounded-full bg-white px-3 py-1 shadow-sm;
}
.chip:hover {
  @apply bg-neutral-300;
}

.app {
  display: flex;
  flex: 1;
  flex-direction: row;
  font-family: sans-serif;
  text-align: center;
  align-items: flex-end;
  justify-content: center;
}

.wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 620px;
}

.tab {
  @apply rounded-xl shadow-xl;
  width: 320px;
  height: 100%;
  overflow: hidden;
}

.frame {
  border: none !important;
  height: 100% !important;
  width: 100% !important;
}
